<% title = "Listing pages" %>
<h1>All pages</h1>
<% if @pages.empty? %>
  <p>No pages found.</p>
<% else %>
  <ul id="list">
    <% @pages.each do |page| %>
      <li><%= list_item(page) %></li>
    <% end %>
  </ul>
<% end %>